<div class="name" id="racer_<%= racer.id %>_name">
  <a href="#" onclick="new Ajax.Updater('racer_<%= racer.id %>', 
                                        '/admin/racers/edit_name/<%= racer.id %>', 
                                        { asynchronous:false, 
                                          evalScripts:true, 
                                          onComplete: function(transport) {
                                            disableDragAndDrop('racer', <%= racer.id %>);
                                            $('racer_<%= racer.id %>_name_text_field').select();
                                          }
                                        }); 
                                        return false;"><%= 
  if racer.name.blank?
    '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
  else
    racer.name 
  end
%></a>
</div>
