<% @page_title = 'Admin: Racers' %>

<%= render :partial => "shared/search_form", :locals => { :name => @name } %>
<%= render :partial => "shared/flash", :locals => { :flash => flash } %>

<%= scrolling_table :racers, [
                                { :title => "Name", :styleClass => "name"},
                                { :title => "Team", :styleClass => "team_name"},
                                { :title => "Aliases", :styleClass => "aliases"},
                                { :title => "Road", :styleClass => "right"},
                                { :title => "MTB", :styleClass => "right"},
                                { :title => "DH", :styleClass => "right"},
                                { :title => "Cross", :styleClass => "right"},
                                { :title => "Member", :styleClass => "member"}
                              ]
%>

<table style="width: 100%;">
  <tr>
    <td style="text-align: right; padding-top: 8px;"><%= link_to('Print Cards', :action => 'cards') %> |
        <%= link_to('Print Mailing Labels', :action => 'mailing_labels') %>
    </td>
  </tr>
</table>

<%= render :partial => 'import_export' %>

<%= focus("name") %>
