<% @page_title = 'Admin: Racers' %>

<%= render :partial => "shared/search_form", :locals => { :name => @name } %>
<%= render :partial => "shared/flash", :locals => { :flash => flash } %>

<%= scrolling_table do |t|
      t.column "Name"
      t.column "Team", :style_class => "team_name"
      t.column "Aliases"
      t.column "Road", :style_class => "race_number"
      t.column "MTB", :style_class => "race_number"
      t.column "DH", :style_class => "race_number"
      t.column "Cross", :style_class => "race_number"
      t.column "Member"
    end
%>

<table style="width: 100%;">
  <tr>
    <td style="text-align: right; padding-top: 8px;"><%= link_to('Print Cards', :action => 'cards') %> |
        <%= link_to('Print Mailing Labels', :action => 'mailing_labels') %>
    </td>
  </tr>
</table>

<%= render :partial => 'import_export' %>

<%= focus("name") %>
