<% @page_title = 'Admin: Racers' %>

<%= form_tag({}, {:method => 'get', :id => 'search_form'}) %>
  <div class="search">
    <label for="name">Name:</label>
    <%= text_field_tag 'name', @name, :size => 30 %>
  </div>
</form>

<%= render :partial => "shared/flash", :locals => { :flash => flash } %>

<div class="scrolling_table">
  <!--This is a super hack job to get the table header to remain fixed, the columns to stay lined up, and the scrollbar to be covered up on the header-->
  <div class="headers">
    <table cellspacing="0">
      <thead>
        <tr>
          <th class="record">Name</th>
          <th class="team_name">Team</th>
          <th class="aliases">Aliases</th>
          <th class="right">Road</th>
          <th class="right">MTB</th>
          <th class="right">DH</th>
          <th class="right">Cross</th>
          <th class="member">Member</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="scroll_bar_cover_container">
    <div class="scroll_bar_cover_up"></div>
  </div>
  <!--END hack job-->

  <div class="records" id="records">
    <table cellspacing="0">
    <tbody>
      <%= render :partial => "racer", :collection => @racers %>
    </tbody>
    </table>
  </div>
</div>

<div class="buttons last">
  <div style="float: left;">
    <button type="button"
            name="new" id="new_button" value="+" class="new disabled">&nbsp;</button><button 
               type="button" name="delete" id="delete_button" value="&ndash;" class="delete disabled" 
               onclick="deleteRacer('team')">&nbsp;</button>
  </div>
  <div style="float: right;">
    <button type="button" name="results" id="results_button" class="disabled" value="Results" 
            onClick="redirectToResults()">Results</button><button 
      type="button" name="edit" id="edit_button" class="disabled" value="Edit"
      onClick="redirectToEdit('team')">Edit</button>
  </div>
</div>

<table style="width: 100%;">
  <tr>
    <td style="text-align: right; padding-top: 8px;"><%= link_to('Print Cards', :action => 'cards') %> |
        <%= link_to('Print Mailing Labels', :action => 'mailing_labels') %>
    </td>
  </tr>
</table>

<%= render :partial => 'import_export' %>

<script type="text/javascript" charset="utf-8">
  document.observe("dom:loaded", function() {
    add_javascript_for('racer', [<%= @racers.map { |racer| racer.id }.join(",") %>]);
  });
</script>
