<div class="messages">
  <span class="message" id="warn" <%= "style='display: none;'" unless flash[:warn] %>><%= flash[:warn] %><br></span>
  <span class="message" id="notice" <%= "style='display: none;'" unless flash[:notice] %>><%= flash[:notice] %><br></span>
  <span class="message" id="info" <%= "style='display: none;'" unless flash[:info] %>><%= flash[:info] %><br></span>
</div>
