<div class="scrolling_table">
  <!--This is a super hack job to get the table header to remain fixed, the columns to stay lined up, and the scrollbar to be covered up on the header-->
  <div class="headers">
    <table cellspacing="0" class="<%= scrolling_table.plural_record_type %>">
      <thead>
        <tr>
          <% scrolling_table.columns.each do |column| -%>
          <th class="<%= column.style_class %>"><%= column.title %></th>
          <%- end %>
        </tr>
      </thead>
    </table>
  </div>
  <div class="scroll_bar_cover_container">
    <div class="scroll_bar_cover_up"></div>
  </div>
  <!--END hack job-->

  <div class="records" id="records">
    <table cellspacing="0" class="<%= scrolling_table.plural_record_type %>" id="<%= scrolling_table.plural_record_type %>">
    <tbody>
      <%= render :partial => scrolling_table.record_type, :collection => scrolling_table.records %>
    </tbody>
    </table>
  </div>
</div>

<div class="buttons last">
  <div style="float: left;">
    <button type="button"
            name="new" id="new_button" value="+" class="new disabled">&nbsp;</button><button 
               type="button" name="delete" id="delete_button" value="&ndash;" class="delete disabled" 
               onclick="deleteRacer('<%= scrolling_table.plural_record_type %>')">&nbsp;</button>
  </div>
  <div style="float: right;">
    <button type="button" name="results" id="results_button" class="disabled" value="Results" 
            onClick="redirectToResults('<%= scrolling_table.plural_record_type %>')">Results</button><button 
      type="button" name="edit" id="edit_button" class="disabled" value="Edit"
      onClick="redirectToEdit('<%= scrolling_table.plural_record_type %>')">Edit</button>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  document.observe("dom:loaded", function() {
    newScrollingTable('<%= scrolling_table.plural_record_type %>', 
                      '<%= scrolling_table.record_type %>', 
                      [<%= scrolling_table.records.map { |record| record.id }.join(",") %>]);
  });
</script>
