<% @page_title = 'Admin: Teams' %>

<%= form_tag({}, {:method => 'get', :id => 'search_form'}) %>
  <div class="search">
    <label for="name">Name:</label>
    <%= text_field_tag 'name', @name, :size => 30 %>
  </div>
</form>

<%= render :shared => "flash" %>

<div class="table_view" id="teams">
  <div class="header_row clear">
    <div class="header name">Name</div>
    <div class="header aliases">Aliases</div>
    <div class="header member last">Member</div>
  </div>
  
  <div class="rows clear" id="rows">
  <%= render :partial => "team", :collection => @teams %>
  </div>
</div>

<div class="buttons">
  <div style="float: left;">
    <button type="button" name="new" id="new_button" value="+" class="new">&nbsp;</button><button 
               type="button" name="delete" id="delete_button" value="&ndash;" class="delete disabled" 
               onclick="delete_team()">&nbsp;</button>
  </div>
  <div style="float: right;">
    <button type="button" name="results" id="results_button" class="disabled" value="Results" 
            onClick="redirectToResults()">Results</button><button 
      type="button" name="edit" id="edit_button" class="disabled" value="Edit"
      onClick="redirectToEdit()">Edit</button>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
<%- for team in @teams -%>
  var team = 'team_<%= team.id %>';
  var team_row = 'team_<%= team.id %>_row';
  captureClick($(team_row));
  new Draggable(team, { delay:100, onEnd:function() { Droppables.add(team_row, {hoverclass:'hovering', onDrop:function(element){new Ajax.Request('/admin/teams/merge?target_id=<%= team.id %>', {asynchronous:true, evalScripts:true, parameters:'id=' + encodeURIComponent(element.id)})}})}, onStart:function() { Droppables.remove(team_row) }, revert:true})
  Droppables.add(team_row, {hoverclass:'hovering', onDrop:function(element){team.src='/images/icons/spinner.gif'; new Ajax.Request('/admin/teams/merge?target_id=<%= team.id %>', {asynchronous:true, evalScripts:true, parameters:'id=' + encodeURIComponent(element.id)});Droppables.remove(team_row) }})
  <%- end -%>
</script>

<%= focus("name") %>
