<% @page_title = 'Admin: Teams' %>

<%= form_tag({}, {:method => 'get', :id => 'search_form'}) %>
  <div class="search">
    <label for="name">Name:</label>
    <%= text_field_tag 'name', @name, :size => 30 %>
  </div>
</form>

<%= render :partial => "shared/flash", :locals => { :flash => flash } %>

<div class="active_record_grid" id="teams">
  <div class="header_row clear">
    <div class="header record">Name</div>
    <div class="header aliases">Aliases</div>
    <div class="header member last">Member</div>
  </div>
  
  <div class="rows clear" id="rows">
  <%= render :partial => "team", :collection => @teams %>
  </div>
</div>

<div class="buttons">
  <div style="float: left;">
    <button type="button" 
            name="new" id="new_button" value="+" class="new disabled">&nbsp;</button><button 
               type="button" name="delete" id="delete_button" value="&ndash;" class="delete disabled" 
               onclick="deleteTeam()">&nbsp;</button>
  </div>
  <div style="float: right;">
    <button type="button" name="results" id="results_button" class="disabled" value="Results" 
            onClick="redirectToResults()">Results</button><button 
      type="button" name="edit" id="edit_button" class="disabled" value="Edit"
      onClick="redirectToEdit()">Edit</button>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
<%- for team in @teams -%>
  var team = 'team_<%= team.id %>';
  var team_row = 'team_<%= team.id %>_row';
  captureClick($(team_row));  
  add_droppable_row_for(<%= team.id %>);
  add_draggable_for(<%= team.id %>);
<%- end -%>
</script>

<%= focus("name") %>
