<% @page_title = 'Admin: Teams' %>

<%= form_tag({}, {:method => 'get', :id => 'search_form'}) %>
  <div class="search">
    <label for="name">Name:</label>
    <%= text_field_tag 'name', @name, :size => 30 %>
  </div>
</form>

<%= render :partial => "shared/flash", :locals => { :flash => flash } %>

<table class="active_record_grid_header" id="teams">
  <tr>
    <th class="record">Name</th>
    <th class="aliases">Aliases</th>
    <th class="member">Member</th>
  </tr>
</table>
<div class="active_record_grid" id="rows">
  <table>
  <%= render :partial => "team", :collection => @teams %>
  </table>
</div>

<div class="buttons last">
  <div style="float: left;">
    <button type="button"
            name="new" id="new_button" value="+" class="new disabled">&nbsp;</button><button 
               type="button" name="delete" id="delete_button" value="&ndash;" class="delete disabled" 
               onclick="deleteTeam()">&nbsp;</button>
  </div>
  <div style="float: right;">
    <button type="button" name="results" id="results_button" class="disabled" value="Results" 
            onClick="redirectToResults()">Results</button><button 
      type="button" name="edit" id="edit_button" class="disabled" value="Edit"
      onClick="redirectToEdit()">Edit</button>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
<%- for team in @teams -%>
  var team = 'team_<%= team.id %>';
  var team_row = 'team_<%= team.id %>_row';
  captureClick($(team_row));  
  add_droppable_row_for(<%= team.id %>);
  add_draggable_for(<%= team.id %>);
<%- end -%>
</script>

<%= focus("name") %>
